/* custom */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
a {
  color: inherit;
  display: block;
  text-decoration: none;
  &:hover {
    opacity: .8;
  }
}
a, button {
  transition: color .3s, background-color .3s, opacity .3s, border-color .3s;
}