.footer {
  background-color: $primary;
  color: $white;
}

.social-media {
  img {
    width: 24px;
    margin-left: 8px;
  }
}
.copyright {
  border-top: 1px solid $white;
}

@include pad {
  .social-media li {
    img {
      width: 40px;
    }
  }
}
