.btn {
  font-size: inherit;
  line-height: inherit;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &.btn-sm {
    padding: 6px 12px;
  }
  &.btn-lg {
    font-weight: bold;
    width: 100%;
    padding: 16px;
    @include pad {
      width: 60%;
    }
    @include desktop {
      width: 66.666667%;
    }
  }
}

@each $key, $color in $colors {
  $hoverColor: null;
  @if $key == black {
    $hoverColor: lighten($color, 20%);
  } @else {
    $hoverColor: darken($color, 10%);
  } 
  .btn-#{$key} {
    background-color: #{$color};
    color: $white;
    &:hover {
      background-color: $hoverColor;
    }
  }
}
