.pagination {
  display: flex;
  justify-content: center;
  li {
    border: 1px solid #555555;
    &:first-child a,
    &:last-child a {
      padding: 12px 14px;
      @include pad {
        font-size: 1.1875rem;
        padding: 11px 12px;
      }
    }
  }
  a {
    color: #555555;
    padding: 12px 16px;
    @include pad {
      font-size: 1.125rem;
    }
    &:hover {
      background-color: #F2F2F2;
    }
    &.active {
      color: $white;
      background-color: $black;
    }
  }
}
