.container {
  margin: 0 auto;
  padding: 0 ($grid-gutter-width / 2) * 1px;
  @include pad {
    max-width: 696px + $grid-gutter-width * 1px;
  }
  @include desktop {
    max-width: 1296px + $grid-gutter-width * 1px;
  }
}

// display
@each $key, $display in $displays {
  .d-#{$key} {
    display: #{$display};
  }
}

@each $key, $display in $displays {
  @include pad {
    .d-md-#{$key} {
      display: #{$display};
    }
  }
}

@each $key, $display in $displays {
  @include desktop {
    .d-lg-#{$key} {
      display: #{$display};
    }
  }
}

// flex-wrap
@each $key, $wrap in $flex-wrap {
  .flex-#{$key} {
    flex-wrap: #{$wrap};
  }
}

@each $key, $wrap in $flex-wrap {
  @include pad {
    .flex-md-#{$key} {
      flex-wrap: #{$wrap};
    }
  }
}

@each $key, $wrap in $flex-wrap {
  @include desktop {
    .flex-lg-#{$key} {
      flex-wrap: #{$wrap};
    }
  }
}

// flex-direction
@each $key, $direction in $flex-direction {
  .flex-#{$key} {
    flex-direction: #{$direction};
  }
}

@each $key, $direction in $flex-direction {
  @include pad {
    .flex-md-#{$key} {
      flex-direction: #{$direction};
    }
  }
}

@each $key, $direction in $flex-direction {
  @include desktop {
    .flex-lg-#{$key} {
      flex-direction: #{$direction};
    }
  }
}

// justify-content
@each $key, $align in $justify-content {
  .justify-content-#{$key} {
    justify-content: #{$align};
  }
}

@each $key, $align in $justify-content {
  @include pad {
    .justify-content-md-#{$key} {
      justify-content: #{$align};
    }
  }
}

@each $key, $align in $justify-content {
  @include desktop {
    .justify-content-lg-#{$key} {
      justify-content: #{$align};
    }
  }
}

// align-items
@each $key, $align in $align-items {
  .align-items-#{$key} {
    align-items: #{$align};
  }
}

@each $key, $align in $align-items {
  @include pad {
    .align-items-md-#{$key} {
      align-items: #{$align};
    }
  }
}

@each $key, $align in $align-items {
  @include desktop {
    .align-items-lg-#{$key} {
      align-items: #{$align};
    }
  }
}

// gap
@each $key, $spacer in $spacers {
  .gap-#{$key} {
    gap: #{$spacer};
  }
}

@each $key, $spacer in $spacers {
  @include pad {
    .gap-md-#{$key} {
      gap: #{$spacer};
    }
  }
}

@each $key, $spacer in $spacers {
  @include desktop {
    .gap-lg-#{$key} {
      gap: #{$spacer};
    }
  }
}