@mixin hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin line-clamp($line-num) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-num;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin stretched-link {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &:hover {
    &::before {
      @content;
    }
  }
}
