@each $value, $spacer in $spacers {
  .mx-#{$value} {
    margin-right: #{$spacer};
    margin-left: #{$spacer};
  }
  .my-#{$value} {
    margin-top: #{$spacer};
    margin-bottom: #{$spacer};
  }
  .px-#{$value} {
    padding-right: #{$spacer};
    padding-left: #{$spacer};
  }
  .py-#{$value} {
    padding-top: #{$spacer};
    padding-bottom: #{$spacer};
  }
}

@each $value, $spacer in $spacers {
  @include pad {
    .mx-md-#{$value} {
      margin-right: #{$spacer};
      margin-left: #{$spacer};
    }
    .my-md-#{$value} {
      margin-top: #{$spacer};
      margin-bottom: #{$spacer};
    }
    .px-md-#{$value} {
      padding-right: #{$spacer};
      padding-left: #{$spacer};
    }
    .py-md-#{$value} {
      padding-top: #{$spacer};
      padding-bottom: #{$spacer};
    }
  }
}

@each $value, $spacer in $spacers {
  @include desktop {
    .mx-lg-#{$value} {
      margin-right: #{$spacer};
      margin-left: #{$spacer};
    }
    .my-lg-#{$value} {
      margin-top: #{$spacer};
      margin-bottom: #{$spacer};
    }
    .px-lg-#{$value} {
      padding-right: #{$spacer};
      padding-left: #{$spacer};
    }
    .py-lg-#{$value} {
      padding-top: #{$spacer};
      padding-bottom: #{$spacer};
    }
  }
}

@each $value, $spacer in $spacers {
  @each $key, $side in $sides {
    .m#{$key}-#{$value} {
      margin-#{$side}: #{$spacer};
    }
    .p#{$key}-#{$value} {
      padding-#{$side}: #{$spacer};
    }
  }
}

@each $value, $spacer in $spacers {
  @each $key, $side in $sides {
    @include pad {
      .m#{$key}-md-#{$value} {
        margin-#{$side}: #{$spacer};
      }
      .p#{$key}-md-#{$value} {
        padding-#{$side}: #{$spacer};
      }
    }
  }
}

@each $value, $spacer in $spacers {
  @each $key, $side in $sides {
    @include desktop {
      .m#{$key}-lg-#{$value} {
        margin-#{$side}: #{$spacer};
      }
      .p#{$key}-lg-#{$value} {
        padding-#{$side}: #{$spacer};
      }
    }
  }
}

// width
@each $key, $width in $widths {
  .w-#{$key} {
    width: #{$width};
  }
}

@each $key, $width in $widths {
  @include pad {
    .w-md-#{$key} {
      width: #{$width};
    }
  }
}

@each $key, $width in $widths {
  @include desktop {
    .w-lg-#{$key} {
      width: #{$width};
    }
  }
}

// max-width
@each $key, $width in $widths {
  .max-w-#{$key} {
    max-width: #{$width};
  }
}

@each $key, $width in $widths {
  @include pad {
    .max-w-md-#{$key} {
      max-width: #{$width};
    }
  }
}

@each $key, $width in $widths {
  @include desktop {
    .max-w-lg-#{$key} {
      max-width: #{$width};
    }
  }
}

// height
@each $key, $height in $heights {
  .h-#{$key} {
    height: #{$height};
  }
}

@each $key, $height in $heights {
  @include pad {
    .h-md-#{$key} {
      height: #{$height};
    }
  }
}

@each $key, $height in $heights {
  @include desktop {
    .h-lg-#{$key} {
      height: #{$height};
    }
  }
}
