.h1-title {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 8px;
    height: 36px;
    background-color: $primary;
    transform: translateX(-50%);
    @include pad {
      height: 72px;
    }
  }
}
.font-roboto {
  font-family: 'Roboto';
}
.font-noto {
  font-family: 'Noto Sans TC';
}
// font-size
@each $key, $size in $font-sizes {
  .text-#{$key} {
    font-size: #{$size};
  }
}

@each $key, $size in $font-sizes {
  @include pad {
    .text-md-#{$key} {
      font-size: #{$size};
    }
  }
}
@each $key, $size in $font-sizes {
  @include desktop {
    .text-lg-#{$key} {
      font-size: #{$size};
    }
  }
}

// font-weight
@each $key, $weight in $font-weight {
  .fw-#{$key} {
    font-weight: #{$weight};
  }
}

@each $key, $weight in $font-weight {
  @include pad {
    .fw-md-#{$key} {
      font-weight: #{$weight};
    }
  }
}

@each $key, $weight in $font-weight {
  @include desktop {
    .fw-lg-#{$key} {
      font-weight: #{$weight};
    }
  }
}

@each $key, $style in $font-style {
  .fst-#{$key} {
    font-style: #{$style};
  }
}